@media all and (min-width: 480px) {
    .Profile {
        padding: 60px 0;
        
    }
    .profileLink{
        margin: 10px;
    }
    .profileLink > button{
        background-color: #fec741;
    }
    .div-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .div-child{
        display: inline-block;
        vertical-align: text-top;
        margin: 3px;
    }
    .profilePic {
        border-radius: 50%;
        overflow: 'hidden';
        height: 250px;
        width: 250px;
        content: url('./default-profile-pic.png');
    }

}