@media all and (min-width: 480px) {
    .addMealPlan-form{
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
      
    }

    label {
        margin-right: 50px;
    }

    input {
        box-sizing: border-box;
        border: solid #5B6DCD 1px;
        padding: 5px;
    }

}