@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
    }
    .Login > button {
        width: 200px;
    }
    .Login > button > span {
        text-align: center;
        margin: auto;
        font-weight: 700 !important;
        font-size: 18px;
        color: #4285f4;
    }
}
  
a:hover{
    text-decoration: none;
}